
<EditForm Model="@Category" OnValidSubmit="SaveAsync">
    <MudGrid>
        <MudItem xs="12" md="12">
            <MudPaper Class="pa-3 ma-1">

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Success">Добавить</MudButton>

                <MudButton Href="categories" Variant="Variant.Text">Отмена</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid>
        <MudItem xs="12" md="12">
            <MudPaper Class="pa-16 ma-1">

                <MudGrid>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField T="string" Label="Называние категории"
                                      Variant="@variant" @bind-Text="@Category.Name"
                                      For="@(() => Category.Name)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField T="string" Label="Описание"
                                      Variant="variant" @bind-Text="@Category.Description"
                                      For="@(() => Category.Description)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="6">
                        <MudFileUpload T="IBrowserFile" Context="fileInput" FilesChanged="UploadPhotoIcon">
                            <ButtonTemplate>
                                <MudButton HtmlTag="label"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.CloudUpload"
                                           for="@fileInput">
                                   Загрузить фото иконки
                                </MudButton>
                            </ButtonTemplate>
                        </MudFileUpload>
                    </MudItem>

                    <MudItem xs="12" sm="6" md="6">
                        <MudFileUpload T="IBrowserFile" Context="fileInput" FilesChanged="UploadPhoto">
                            <ButtonTemplate>
                                <MudButton HtmlTag="label"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.CloudUpload"
                                           for="@fileInput">
                                    Загрузить фото
                                </MudButton>
                            </ButtonTemplate>
                        </MudFileUpload>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        @if (IconFiles != null) { 
                            <h3>@IconFiles.Name</h3>
                            <img src="data:image/png;base64, @Category.IcontPhotoCategoryBase64" alt="Category Icon" style="width: 100px; height: 100px; margin-bottom: 3px; margin-right: 5px;" />
                        }
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        @if (PhotoFiles != null)
                        {
                            <h3>@PhotoFiles.Name</h3>
                            <img src="data:image/png;base64, @Category.PhotoCategoryBase64" alt="Category Icon" style="width: 100px; height: 100px; margin-bottom: 3px; margin-right: 5px;" />
                        }
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
    </MudGrid>
</EditForm>


@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using ISTUDIO.Application.Features.ModelsDTO
@using ISTUDIO.Contracts.Features.Categories;
@using ISTUDIO.Application.Features.Categories.DTOs;


@code {
    public CreateCategoriesVM Category { get; set; } = new();
    [Parameter] public EventCallback<CreateCategoriesVM> OnSave { get; set; }
    private Variant variant = Variant.Text;
    private IBrowserFile IconFiles { get; set; }
    private IBrowserFile PhotoFiles { get; set; }
    private async Task UploadPhotoIcon(IBrowserFile file)
    {
        IconFiles = file;
        Category.IcontPhotoCategoryBase64 = await ConvertFileToBase64(IconFiles);
        StateHasChanged();
    }
    private async Task UploadPhoto(IBrowserFile file)
    {
        PhotoFiles = file;
        Category.PhotoCategoryBase64 = await ConvertFileToBase64(PhotoFiles);
        StateHasChanged();
    }
    private async Task SaveAsync()
    {
        await OnSave.InvokeAsync(Category);
    }

    private async Task<string> ConvertFileToBase64(IBrowserFile file)
    {
        using (var stream = file.OpenReadStream(maxAllowedSize: 512 * 5120))
        using (var memoryStream = new MemoryStream())
        {
            await stream.CopyToAsync(memoryStream);
            var bytes = memoryStream.ToArray();
            return Convert.ToBase64String(bytes);
        }
    }
}
