
<MudTable Elevation="25" ServerData="@(new Func<TableState, Task<TableData<TableModel>>>(ServerReload))"
          Loading="true" Dense="true" Striped="true" Hover="true" Height="650px" HorizontalScrollbar="true" FixedHeader="true"
          @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Продукты</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Поиск" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Фото</MudTh>
        <MudTh><MudTableSortLabel SortLabel="Name" T="TableModel">Наименование</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Model" T="TableModel">Модель</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Price" T="TableModel">Цена</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="QuantityInStock" T="TableModel">Количество</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Description" T="TableModel">Описание</MudTableSortLabel></MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd> <img src="@GetImageBase64(@context.Images.FirstOrDefault()?.Url)" alt="Product Photo" style="width: 28px; height: 28px; margin-bottom: 3px; margin-right: 5px;" /> </MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Model">@context.Model</MudTd>
        <MudTd DataLabel="Price">@context.Price</MudTd>
        <MudTd DataLabel="QuantityInStock">@context.QuantityInStock</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <div style="justify-self: end;">
            <MudTd><MudIconButton Href="@($"products/edit/{context.Id}")" Icon="@Icons.Material.Filled.Edit" Size="Size.Medium" Color="Color.Inherit" /></MudTd>
            <MudTd> <MudIconButton OnClick="async() => await DeleteProducts(context.Id, context.Name)" Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" Color="Color.Inherit" /></MudTd>
        </div>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Здесь никого нет!...</MudText>
        <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="_processing" />
    </NoRecordsContent>
    <LoadingContent>
        <MudText>ищем...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] {10, 15, 25,50, 100}" />
    </PagerContent>
</MudTable>


@using ISTUDIO.Application.Features.Products.Queries
@using ISTUDIO.Web.UI.Features.Products.Commands
@using ISTUDIO.Web.UI.Features.Products.Queries
@using TableModel = ISTUDIO.Application.Features.Products.DTOs.ProductsResponseDTO;
@code {

    private IEnumerable<TableModel> pagedData;
    private MudTable<TableModel> table;
    IEnumerable<TableModel> Elements = new List<TableModel>();


    private bool _processing = false;
    private int totalItems;
    private string serachText = string.Empty;


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        // table.SetRowsPerPage(5);
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task<TableData<TableModel>> ServerReload(TableState state)
    {
        try
        {

            var resLegalPersons = await _mediatr.Send(new UIGetProductsListQuery { PageNumber = state.Page, PageSize = state.PageSize });
            if (resLegalPersons.Status)
            {
                totalItems = resLegalPersons.Data.TotalCount;
                Elements = (IEnumerable<TableModel>)resLegalPersons.Data.Items;
                _snackbar.Add($"Успешно!!! Количество найденных объектов: " + Elements.Count(), Severity.Success);
            }
            else
            {
                _snackbar.Add($"Инфо: Что-то пошло не так {resLegalPersons.StatusMessage} ", Severity.Warning);
            }
            var data = Elements;
            // Поиск в таблице
            data = await FilterTableData(data, state);
            SortTableData(ref data, state);

            return new TableData<TableModel>() { TotalItems = totalItems, Items = data };

        }
        catch (Exception ex)
        {
            _snackbar.Add($"Ошибка: Что-то пошло не так {ex.Message} ", Severity.Error);
            return new TableData<TableModel>() { TotalItems = totalItems, Items = pagedData };
        }
    }
    public string GetImageBase64(string imageUrl)
    {
        var resHttpReq = Task.Run(async () => await _mediatr.Send(new GetFilesQuery { imageUrl = imageUrl }));
        var baseFile64 = resHttpReq.Result;

        return $"data:image/png;base64,{baseFile64.FileBase64}";

    }

    private async Task OnSearch(string text)
    {
        serachText = text;
        await table.ReloadServerData();
    }
    private async Task<IEnumerable<TableModel>> FilterTableData(IEnumerable<TableModel> data, TableState state)

    {
        if (string.IsNullOrWhiteSpace(serachText))
        {
            // Если поисковый термин пуст или состоит только из пробелов, возвращаем исходные данные
            return data;
        }

        var resSearch = await _mediatr.Send(new UIGetSearchProductsQuery { PageNumber = state.Page, PageSize = state.PageSize, SearchTerm = serachText });

        if (resSearch.Status)
        {
            totalItems = resSearch.Data.PageNumber;
            Elements = (IEnumerable<TableModel>)resSearch.Data.Items;
            _snackbar.Add($"Успешно!!! Количество найденных объектов: " + Elements.Count(), Severity.Success);
        }
        else
        {
            _snackbar.Add($"Инфо: Что-то пошло не так {resSearch.StatusMessage} ", Severity.Warning);
        }

        // Возвращаем данные из запроса к базе данных или пустой набор данных, если запрос не удался
        return Elements ?? Enumerable.Empty<TableModel>();
    }
    //Сортировка списка
    private void SortTableData(ref IEnumerable<TableModel> data, TableState state)
    {
        switch (state.SortLabel)
        {
            case "Name":
                data = data.OrderByDirection(state.SortDirection, o => o.Name);
                break;
        }
    }

   
    private async Task DeleteProducts(int productsId, string Name)
    {
        var dialogParameters = new DialogParameters
            {
                { "ContentText", $"Вы действительно хотите удалить эти данные? Этот процесс нельзя отменить. Продукт {Name}" },
                { "ButtonText", "Удалить" },
                { "ItemName", Name },
                { "Color", Color.Error }
            };

        var dialogOptions = new DialogOptions()
            {
                Position = DialogPosition.TopCenter,
                CloseButton = true,
                DisableBackdropClick = true
            };

        var dialog = _dialogService.Show<DeleteDialog>("Удалить", dialogParameters, dialogOptions);
        var resDialog = await dialog.Result;

        if (!resDialog.Canceled)
        {
            var resDelCategories = await _mediatr.Send(new UIDeleteProductsCommand { ProductId = productsId });

            if (resDelCategories.Status)
            {
                _snackbar.Add($"Успешно!!! {resDelCategories.Data.Succeeded}", Severity.Success);
                await table.ReloadServerData();
            }
            else
                _snackbar.Add($"Инфо: Что-то пошло не так {resDelCategories.StatusMessage}", Severity.Warning);

        }

    }
}
